/**
 * Show colour previews in ACF selectboxes
 * Note: ACF field must have 'stylized UI' option turned on
*/
.select2-selection__rendered[title=primary],
.select2-results__options .select2-results__option[id$=primary] {
  position: relative;
  text-transform: capitalize;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered[title=primary]:before,
.select2-results__options .select2-results__option[id$=primary]:before {
  background: #845ec2;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}

.select2-selection__rendered[title=secondary],
.select2-results__options .select2-results__option[id$=secondary] {
  position: relative;
  text-transform: capitalize;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered[title=secondary]:before,
.select2-results__options .select2-results__option[id$=secondary]:before {
  background: #00c9a7;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}

.select2-selection__rendered[title=accent],
.select2-results__options .select2-results__option[id$=accent] {
  position: relative;
  text-transform: capitalize;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered[title=accent]:before,
.select2-results__options .select2-results__option[id$=accent]:before {
  background: #ba3caf;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}

.select2-selection__rendered[title=success],
.select2-results__options .select2-results__option[id$=success] {
  position: relative;
  text-transform: capitalize;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered[title=success]:before,
.select2-results__options .select2-results__option[id$=success]:before {
  background: #00c9a7;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}

.select2-selection__rendered[title=info],
.select2-results__options .select2-results__option[id$=info] {
  position: relative;
  text-transform: capitalize;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered[title=info]:before,
.select2-results__options .select2-results__option[id$=info]:before {
  background: #00d2fc;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}

.select2-selection__rendered[title=warning],
.select2-results__options .select2-results__option[id$=warning] {
  position: relative;
  text-transform: capitalize;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered[title=warning]:before,
.select2-results__options .select2-results__option[id$=warning]:before {
  background: #00c9a7;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}

.select2-selection__rendered[title=alert],
.select2-results__options .select2-results__option[id$=alert] {
  position: relative;
  text-transform: capitalize;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered[title=alert]:before,
.select2-results__options .select2-results__option[id$=alert]:before {
  background: #ff6f91;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}

.select2-selection__rendered[title=light],
.select2-results__options .select2-results__option[id$=light] {
  position: relative;
  text-transform: capitalize;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered[title=light]:before,
.select2-results__options .select2-results__option[id$=light]:before {
  background: #F0F0F2;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}

.select2-selection__rendered[title=dark],
.select2-results__options .select2-results__option[id$=dark] {
  position: relative;
  text-transform: capitalize;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered[title=dark]:before,
.select2-results__options .select2-results__option[id$=dark]:before {
  background: #4b4453;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}

.select2-selection__rendered[title=white],
.select2-results__options .select2-results__option[id$=white] {
  position: relative;
  text-transform: capitalize;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered[title=white]:before,
.select2-results__options .select2-results__option[id$=white]:before {
  background: #FFF;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}

.select2-selection__rendered[title=black],
.select2-results__options .select2-results__option[id$=black] {
  position: relative;
  text-transform: capitalize;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.select2-selection__rendered[title=black]:before,
.select2-results__options .select2-results__option[id$=black]:before {
  background: #000;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #CCC;
}