[submodule "app/public/wp-content/plugins/doublee-base-plugin"]
	path = app/public/wp-content/plugins/doublee-base-plugin
	url = https://github.com/doubleedesign/doublee-base-plugin
[submodule "app/public/wp-content/plugins/doublee-breadcrumbs"]
	path = app/public/wp-content/plugins/doublee-breadcrumbs
	url = https://github.com/doubleedesign/doublee-breadcrumbs
[submodule "app/public/wp-content/plugins/classic-editor"]
	path = app/public/wp-content/plugins/classic-editor
	url = https://github.com/WordPress/classic-editor
[submodule "app/public/wp-content/themes/starter-kit-classic"]
	path = app/public/wp-content/themes/starter-kit-classic
	url = https://github.com/doubleedesign/doublee-wp-theme-starter-kit-classic
[submodule "app/public/wp-content/plugins/acf-extended"]
	path = app/public/wp-content/plugins/acf-extended
	url = https://github.com/acf-extended/ACF-Extended
