[submodule "app/public/wp-content/plugins/doublee-base-plugin"]
	path = app/public/wp-content/plugins/doublee-base-plugin
	url = https://github.com/doubleedesign/doublee-base-plugin
[submodule "app/public/wp-content/plugins/doublee-breadcrumbs"]
	path = app/public/wp-content/plugins/doublee-breadcrumbs
	url = https://github.com/doubleedesign/doublee-breadcrumbs
[submodule "app/public/wp-content/plugins/classic-editor"]
	path = app/public/wp-content/plugins/classic-editor
	url = https://github.com/WordPress/classic-editor
