:root {
	@each $colour, $value in $colours {
		--colour-#{$colour}: #{$value};
	}
}

@each $colour, $value in $colours {
	.has-#{$colour}-background-color {
		background: $value;
		color: color-contrast($value);

		p.is-style-lead {
			color: color-contrast($value);
		}

		a:not(.btn) {
			color: color-contrast($value);
			text-decoration-color: rgba(color-contrast($value), 0.4);
			//@include underline-from-center(color-contrast($value));
			vertical-align: middle !important;
			transform: translateY(-2px);
			overflow: visible;

			&:before {
				height: 1px;
				bottom: -1px;
				background: color-contrast($value);
			}

			@include hover-focus-active {
				color: color-contrast($value);
			}
		}

		a, .btn {
			@include keyboard-focus {
				box-shadow: 0 0 3px 2px color-contrast($value);
				outline-color: color-contrast($value);
			}
		}
	}

	@each $colour2, $value2 in $colours {
		.has-#{$colour}-#{$colour2}-gradient-background {
			background: linear-gradient(180deg, $value 50%, $value2 50%);

			.block__header, .pseudo-block__header {
				color: color-contrast($value);
			}

			+ .has-#{$colour2}-background-color,
			+ [class*="has-#{$colour2}-"][class*="-gradient-background"] {
				padding-top: 0;
			}
		}
	}
}

.has-transparent-background-color {
	color: inherit;
}
