// See _colours.scss for default colour handling
// Ideally colours should not be handled here, but in the _colours.scss file in the first instance
.entry-content {
	line-height: 1.45;
	font-family: $body-font-family;
	font-size: map-get($font-sizes, 'xs');

	@include media-breakpoint-up(md) {
		font-size: map-get($font-sizes, 'sm');
	}

	h1,
	h2,
	h3 {
		font-weight: map-get($font-weights, 'bold');
	}

	h1 {
		font-size: map-get($font-sizes, 'lg');
		margin-bottom: map-get($spacing, 'sm');

		@include media-breakpoint-up(md) {
			font-size: map-get($font-sizes, 'xl');
		}

		@include media-breakpoint-up(lg) {
			font-size: map-get($font-sizes, 'xxl');
		}
	}

	h2 {
		font-size: map-get($font-sizes, 'md');
		margin-bottom: map-get($spacing, 'sm');

		@include media-breakpoint-up(md) {
			font-size: map-get($font-sizes, 'lg');
			margin-bottom: map-get($spacing, 'lg');
		}
	}

	h3 {
		font-size: map-get($font-sizes, 'sm');
		margin-bottom: map-get($spacing, 'sm');

		@include media-breakpoint-up(md) {
			font-size: map-get($font-sizes, 'md');
		}
	}

	p,
	ul,
	ol {
		@include gutter-margin-bottom(0.5);

		&:last-child {
			margin-bottom: 0;
		}
	}

	strong {
		font-weight: map-get($font-weights, 'bold');
	}

	p.is-style-lead {
		font-size: 1.125em;
		font-weight: map-get($font-weights, 'bold');
	}

	ul {
		list-style: disc outside;
		margin-left: 1em;
	}

	ol {
		list-style: decimal outside;
		margin-left: 1em;
	}

	img {
		max-width: 100%;
	}

	.wp-caption {

		.wp-caption-text {
			display: block;
			text-align: center;
			font-size: 0.75rem;
			color: map-get($greys, '700');
			padding-bottom: map-get($spacing, 'xs');
			border-bottom: 1px solid map-get($greys, '300');
			margin-bottom: map-get($spacing, 'lg');
		}
	}

	blockquote {
		background: map-get($colours, 'light');
		padding: map-get($spacing, 'md');
		border-left: 0.25rem solid map-get($colours, 'primary');
		@include gutter-margin-top(0.5);
		@include gutter-margin-bottom(0.5);

		@include media-breakpoint-up(lg) {
			padding: map-get($spacing, 'xl');
		}
	}

	.address {
		display: block;
		margin-bottom: map-get($spacing, 'md');

		&__row {
			display: flex;
			margin-bottom: map-get($spacing, 'sm');

			&__icon {
				margin-right: 0.25rem;
				width: rem(26px);
				flex-basis: rem(26px);
				display: flex;
				justify-content: center;
				align-items: flex-start;

				i {
					font-size: 1.5rem;

					&.fa-mobile-screen {
						font-size: rem(22px);
					}
				}
			}

			&__item {
				flex-grow: 1;

				span {
					margin-right: 0.25rem;
				}

				span[itemprop='alternateName'],
				span[itemprop='streetAddress'] {
					display: block;
					width: 100%;
					flex-basis: 100%;
				}
			}
		}
	}

}
